.body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main1{
  height:80%;
  width:100%;
  background-image: url("../../public/homebg.jpeg");
  background-position: center;
  background-size:100% 100%;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8); /* Dark semi-transparent background color */
  color: #fff;
  height: 10%;
  backdrop-filter: blur(10px); /* Glass effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.header-left h1 {
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Shadow effect for the company name */
}
.header-right{
  display:flex
}

.header-right button {
  
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn {
  background-color: #4CAF50; /* Green color for login button */
  color: white;
}

.contact-btn {
  background-color: #008CBA; /* Blue color for contact button */
  color: white;
}

.login-btn:hover, .contact-btn:hover {
  opacity: 0.8;
}
